.dropdown-item.active, .dropdown-item:active
{
    color:black;
}

.daz_menu
      {
        color: white !important;
      }

.card.card-tale
{
    background-color: #28282a !important;
}
.card.card-tale:hover
{
    background-color: #28282a;
}

      .btn-info
      {
        background-color:  !important;
      }
      /*custom btn-info style start*/
           .btn-info
      {
        background-color: rgb(44, 45, 48)!important;
        border:black !important;
        color: white !important;
        font-weight: bold;
      }
      .btn-info:hover
      {
        background-color: #b7b6ca !important;
        color: black !important;
        font-weight: bold;
      }
/*custom btn-info style end*/
/* start preloader */
.bar {
    background-color: #fce0de;
    min-width: 300px;
    min-height: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  .bar::after {
    content: "";
    min-height: 5px;
    position: absolute;
    background: red;
    transform: translateX(-100%);
    animation: animate 3s infinite;
  }
  .bar::before {
    content: "";
    min-height: 5px;
    position: absolute;
    background: red;
    transform: translateX(-100%);
    animation: animate 3s ease-out infinite;
    animation-delay: 1s;
    z-index: 5;
  }
  
  .by {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: "roboto";
    font-size: 20px;
  }
  @keyframes animate {
    0% {
      transform: translateX(-100%);
      min-width: 10px;
    }
    100% {
      transform: translateX(300%);
      min-width: 400px;
    }
  }
/* end preloader */

/* model style start */
.modal::-webkit-scrollbar{
    display: none;
}
.modal{
    margin-top: -50px !important;
    
}


/* model style end */

/* navbar style start */
.motn-menu-mob
{
    display:none;
}

/* navbar style end */
.auth .brand-logo 
{
    margin-bottom: 0px !important;
    margin-top:-30px;
}
.auth .brand-logo img
{
    width: 100px !important;
}
.bg-reg
{
    background: url('../images/bg/bg_comp.webp') ;
   background-size:cover;
 
}
.main-panel
{
    width: calc(100% - 0px) !important;
}

/* card print style start */

.vapp-card
{
    background-color:#ae237a ;
}
.vapp-font
{
    font-size: 70px;
}
.vapp-details
{
    background-color:#cfd1d0; 
    height: 50px; 
    width: 100%;
}
/* mansoor works */
.swal2-popup{
    
     background: transparent; 
}
.swal2-loader{
    border-color: #ff9900 rgba(0,0,0,0) #00c3ff rgba(0,0,0,0);;
}

.input-empty{
    
    outline: 1px solid red !important;
}
/* mansoor works end */

/* vapp accree card print style start */

.vapp-card-acr
{
    background-color:#13b68f;
}

/* vap acreee card print style end */
/* vapp accree card print style start */

.vapp-card-val
{
    background-color:#9b70b0;
}

/* vap acreee card print style end */

/* card print style end */

@media screen and (max-width: 991px) 
{
    .navbar .navbar-brand-wrapper .navbar-brand img

    {
        width: 200px !important;
    }
    /* navbar-menu mobile view start */
.motin-menu-web
{
    display: none !important;

}
.motn-menu-mob
{
    display: inline-block;
    
}
.navbar-toggler
{
    display: none;
}
.brand-logo
{
    display: none !important;
}
.brand-logo-mini
{
    display: inline-block !important;
    z-index: 1;
    margin-left: 150px;
   
}
.brand-logo-mini img
{
    max-width: 200px !important;
}


/* navbar menu mobile view end */
}

