
{% load static %}
    {% if status == 1 or role_id == 1 %}
  <td id="td-tick"><input type="checkbox" class="form-control" name="event-checkbox" value="{{id}}" id="build-checkbox" onchange="check_checkbox(2)"></td>
  {% else %}
  <td>-</td>
  {% endif %}
    <td class="py-1" id="td-user">
      
     <a onclick="get_profile_details(2,{{id}})" data-toggle="modal" data-target="#profilemodal"> <img src="{% static 'images/avatar.webp' %}" alt="image"/></a>
    </td>
    <td ><span style="display:none;">{{created_at |date:'Y-m-d H:i'}}</span> {{created_at |date:'d-m-y H:i'}}
    {% if status != 0 and approved_by_id != null %}
      <br>
      <small style="font-size: 12px;" class="text-muted">Approved By:</small><br>
      <small style="font-size:12px;" class="text-muted">{{approved_by}}</small>
      {% endif %}
    </td>
    <td id="event-uid">
        <div class="uid">{{UID}}</div>
    
    <br>
                  {% if collected == 1 %}
                  <span class="badge badge-info">Collected</span>
                  {% endif %}

    
    </td>
    <td>
      <div style="width: 100px; overflow-wrap: break-word !important; word-wrap: break-word !important; white-space: initial !important;"> {{name}} </div>
    </td>
   
      {% if des_id == 0 %}
      <td>{{other_des}}</td>
      {% else %}
      <td>{{designation}} </td>
      {% endif %}

    <td>
      <div style="width: 100px; overflow-wrap: break-word !important; word-wrap: break-word !important; white-space: initial !important;" id="table-comp-name">{{comp}}</div>
    </td>
    <td>{% if exp_date != None %} {{exp_date}} {% else %} NO DATE {% endif %}</td>
    <td id="td-action">
      {% if role_id == 1 %} 
      <i style="font-size: 20px;" class="fa-solid fa-trash" onclick="Delete_registration(2,{{id}})"></i>
      {% endif %}
      {% if status == 1 %}
     
      <i style="font-size: 20px;" class="fa-solid fa-print" onclick="Print_Id_card(2,{{id}})" ></i>
      
      {% endif %}
      <a  data-toggle="modal" data-target="#EventModal" onclick="edit_eventtable({{id}},'{{firstname}}','{{lastname}}','{{comp}}',{{des_id}},'{{other_des}}','{{exp_date}}','{{id_proof}}',false)"><i style="font-size: 20px;" class="fa-solid fa-edit" ></i></a>
        
          {% if collected != 1 and print_status != 0 %}
      <i style="font-size: 20px; color: #3d7040;" onclick="update_status(1,2,{{id}},true)" class="fa-duotone fa-solid fa-circle-check"></i>
    {% endif %}
    
    </td>
    <td>
  
      {% if role_id == 1 %}
      <!-- superadmin -->

      {% if status == 0 %}
    <button class="btn btn-sm btn-warning" onclick="update_status(1,2,{{id}})"  >Approve</button>
    <button class="btn btn-sm btn-danger" data-target="#reject-popup" data-toggle="modal"  onclick="send_rejection_mail([{{id}}],2,false)" >Reject</button>
    {% endif %}

    {% if status == 1 %}
    <label class="badge badge-success">Approved</label>
    {% endif %}
    {% if status == 2 %}
    <label class="badge badge-danger">Rejected</label>
    {% endif %}

      {% endif %}

     <!-- infome user  -->
     {% if status == 1 %}
    
    {% if print_status == 0 %}
    <label class="badge badge-danger">Not printed</label>
    {% else %}
    <label class="badge badge-success">Printed</label>
    <label class="badge badge-warning">{{print_count}}</label>
    <i class="fa-regular fa-square-minus" style="color:blue;" onclick="update_reset_print_status(2,{{id}})"></i>
    {% endif %}
    {% endif %} 
    {% if role_id == 2 and status != 1 %}
    <label class="badge badge-warning">Approvel Pending</label>
    {% endif %}


  
    </td>
     <td><textarea name="" class="form-control" id="event-remark" style="width:150px;" onkeyup="chnage_remark(2,{{id}},this)">{% if remark != None %} {{remark}} {% endif %}</textarea></td> 

