<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Infoevent Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/motin_favicon.jpg' %}" />
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />

  <!-- font awesome cdn start -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

  <style>
    @import url("https://fonts.cdnfonts.com/css/avenir-next-lt-pro");

    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }



    @media print {
      @page {
        /*size: A5;
          margin: 5px;*/
        size: 210mm 148mm;
        size: portrait;
        margin: 0px;
      }

      .pagebreak {
        page-break-after: always;
      }

      #delivary-print,
      #delivary-print * {
        visibility: visible;
      }

      #delivary-print {
        position: static;

        left: 0px;
        top: 0px;
      }

      #delivary-print .vapp-font {
        font-size: 55px;
      }



      #delivary-print .img-fluid {
        width: 100% !important;
      }



      #delivary-print .vapp-card-del {
   
        height: 699px;
      }

      /* parking style start */
      #parking-to-print,
      #parking-to-print * {
        visibility: visible;
      }

      #parking-to-print {
        position: static;
        left: 0px;
        top: 0px;
      }




      #parking-to-print .img-fluid {
        width: 100% !important;
      }



      #parking-to-print .vapp-card-par {
  
        height: 699px;
      }



      /* parking style end */
      /* vip parking start */
      #vip-parking,
      #vip-parking * {
        visibility: visible;
      }

      #vip-parking {
        position: static;
        left: 0px;

        top: 0px;
      }




      #vip-parking .img-fluid {
        width: 100% !important;
      }


      #vip-parking .vapp-card-acr {
             height: 699px;
      }

      /* vip parking end */
    }
  </style>
</head>

<body style="font-family: 'Avenir Next LT Pro', sans-serif !important">
  <!-- vapp_accree Id card Design Start -->
  {% for p in delivery %}
  <div id="delivary">

    <div class="col-md-6 main-vapp-card" id="delivary-print">
      <div class="card vapp-card-del">
        <div>
          <img style="width: 100%;" src="{% static 'images/daz_idcard/daz_parking_delivery.png' %}">
        </div>
        
        <div style=" z-index: 100; position: absolute; top:278px; left: 215px;">
          <h3 style="font-weight:bolder; font-size:33px !important;">{{p.name}}</h3>
        </div>
        <div style=" z-index: 100; position: absolute; top:365px; left: 270px;">
          <h3 style="font-weight:bolder; font-size:33px !important;">{{p.mobile}}</h3>
        </div>
        
        <div style=" z-index: 100; position: absolute; top:449px; left: 300px;">
          <h3 style="font-weight:bolder; font-size:33px !important;">{{p.comp}}</h3>
        </div>
        
        <div style=" z-index: 100; position: absolute; top:535px; left: 400px;">
          <h3 style="font-weight:bolder; font-size:33px !important;">{{p.vehicle_num}}</h3>
        </div>
        
        <div style=" z-index: 100; position: absolute; top:620px; left: 200px;">
          <h3 style="font-weight:bolder; font-size:33px !important;">{{p.valid_from}} <span style="font-weight:bold;">-</span> {{p.exp_date}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="pagebreak"></div>
  {% endfor %}
  <!-- delivary parking end -->

  <!-- Id Card Design End -->

  <!-- parking start -->
  {% for p in parking %}

  <div class="col-md-6 main-vapp-card" id="parking-to-print">
    <div class="card vapp-card-par">
      <div>
        <img style="width: 100%;" src="{% static 'images/daz_idcard/daz_parking1.png' %}">
      </div>
      
      <div style=" z-index: 100; position: absolute; top:276px; left: 215px;">
        <h3 style="font-weight:bolder; font-size:33px !important;">{{p.name}}</h3>
      </div>
      <div style=" z-index: 100; position: absolute; top:361px; left: 270px;">
        <h3 style="font-weight:bolder; font-size:33px !important;">{{p.mobile}}</h3>
      </div>
      
      <div style=" z-index: 100; position: absolute; top:446px; left: 300px;">
        <h3 style="font-weight:bolder; font-size:33px !important;">{{p.comp}}</h3>
      </div>
      
      <div style=" z-index: 100; position: absolute; top:532px; left: 400px;">
        <h3 style="font-weight:bolder; font-size:33px !important;">{{p.vehicle_num}}</h3>
      </div>
    </div>
  </div>

  <div class="pagebreak"></div>
  {% endfor %}

  <!-- parking end -->
  <!-- vip parking start -->
  {% for p in vip %}
  <div class="col-md-6 main-vapp-card" id="vip-parking">
    <div class="card vapp-card-acr">
      <div>
        <img style="width: 100%;" src="{% static 'images/daz_idcard/daz_vip.png' %}">
      </div>
      
      
      <div style=" z-index: 100; position: absolute; top:275px; left: 215px;">
        <h3 style="font-weight:bolder; font-size:33px !important;">{{p.name}}</h3>
      </div>
      <div style=" z-index: 100; position: absolute; top:362px; left: 270px;">
        <h3 style="font-weight:bolder; font-size:33px !important;">{{p.mobile}}</h3>
      </div>
      
      <div style=" z-index: 100; position: absolute; top:445px; left: 400px;">
        <h3 style="font-weight:bolder; font-size:33px !important;">{{p.vehicle_num}}</h3>
      </div>
    </div>
  </div>
  <div class="pagebreak"></div>
  {% endfor %}

  <!-- vip parking end -->
  {% for p in accredited %}
  <!-- vapp_accree Id card Design Start -->
  <div class="col-md-6 main-vapp-card" id="section-to-print">

    <div class="card vapp-card-acr" style="border-radius: 0px !important; margin-left: -11px !important; width: 984px;">

      <div class="d-flex justify-content-center m-2">
        <img class="img-fluid" src="{% static 'images/id card/blue_car.png' %}">

      </div>

      <div class="d-flex justify-content-center ">
        <h2 class="text-white font-weight-bolder vapp-font">ACCREDITED</h2>

      </div>
      <div class="d-flex justify-content-center ">
        <h2 class="text-white font-weight-bolder vapp-font">PARKING</h2>

      </div>
      <div class="mb-5">
        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2" style="">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">NAME : </span><span class="font-weight-bold text-uppercase">
                {{p.name}}</span>
            </div>

          </div>


        </div>
        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">MOBILE NUMBER :</span> <span class="font-weight-bold text-uppercase">
                {{p.mobile}}</span>
            </div>
          </div>

        </div>
        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">COMPANY :</span> <span class="font-weight-bold text-uppercase">
                {{p.comp}}</span>
            </div>
          </div>

        </div>

        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">VALID FROM : </span> <span class="font-weight-bold text-uppercase">
                DEC 09,2022</span>
            </div>
          </div>

        </div>



        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">VALID TO : </span> <span class="font-weight-bold text-uppercase">
                DEC 18,2022</span>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="pagebreak"></div>
  {% endfor %}

  {% for p in valet %}
  <!-- vapp_accree Id card Design Start -->
  <div class="col-md-6 main-vapp-card" id="section-to-print">

    <div class="card vapp-card-val" style="border-radius: 0px !important; margin-left: -11px !important; width: 984px;">

      <div class="d-flex justify-content-center m-2">
        <img class="img-fluid" src="{% static 'images/id card/violet_car.png' %}">

      </div>

      <div class="d-flex justify-content-center ">
        <h2 class="text-white font-weight-bolder vapp-font">VALET</h2>

      </div>
      <div class="d-flex justify-content-center ">
        <h2 class="text-white font-weight-bolder vapp-font">PARKING</h2>

      </div>
      <div class="mb-5">
        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">NAME :</span> <span class="font-weight-bold text-uppercase">
                {{p.name}}</span>
            </div>

          </div>


        </div>
        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">MOBILE NUMBER :</span> <span class="font-weight-bold text-uppercase">
                {{p.mobile}}</span>
            </div>
          </div>

        </div>
        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">COMPANY :</span> <span class="font-weight-bold text-uppercase">
                {{p.comp}}</span>
            </div>
          </div>

        </div>


        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">VEHICLE PLATE NUMBER :</span> <span
                class="font-weight-bold text-uppercase"> {{p.vehicle_num}}</span>
            </div>
          </div>

        </div>
        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">VALID FROM : </span> <span class="font-weight-bold text-uppercase">
                DEC 09,2022</span>
            </div>
          </div>

        </div>



        <div class="d-flex justify-content-center ">

          <div class="col-md-8 m-2">
            <div class="p-3 vapp-details" style="font-size: 30px !important; height: 60px !important;">
              <span class="font-weight-bold">VALID TO : </span> <span class="font-weight-bold text-uppercase">
                DEC 18,2022</span>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
  {% endfor %}
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>