<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NEXTWRLD</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/nxt_favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  
  <style>
    .daz_menu:hover
  {
    color: #1CAFA0 ;
    text-decoration: none;
  }
  
  .img-ss
  {
    width: 10px;
    height: 10px;
  }
  #settings-trigger
  {
    background-color: green !important;
    color: white !important;
    cursor: pointer;
  }
  #settings-trigger:hover
  {
    background-color: white !important;
  
    cursor: pointer;
  }

  .ti-face-smile:hover
  {
    color: green !important;
    cursor: pointer;
    font-size: 30px !important;
  }
</style>
  

</head>
<body style="background-color: black;">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="box-shadow: none;">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"  style="background-color: black;">
        <a class="navbar-brand brand-logo ml-3" href="https://www.nextwrld.sa/en" target="_blank" ><img style="height: 55px;" src="{% static 'images/nxt_logo.png' %}" class="" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini"href="https://www.nextwrld.sa/en" target="_blank" ><img style="height: 50px;" src="{% static 'images/nxt_logo.png' %}" alt="logo"/></a>
      </div>
      
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end" style="background-color: black;">
   

        <!-- navbar menu web view start -->
   <div class="row ml-5 motin-menu-web">
    <div class="col-md-2">
      <a class="daz_menu" href="{% url 'dashboard' %}"><img  class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/1828/1828673.png" style="width:15% ;"><span class="font-weight-bolder m-1"> Dashboard</span></a>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button class=" dropdown-toggle" type="button" id="registrationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: none; border: none; color: white;">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/2921/2921226.png" style="width:15%">
            <span class="font-weight-bolder m-1">Register</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="registrationDropdown">
            <a class="dropdown-item" href="https://www.nextwrld.sa/registration/SpeakerForm" target="_blank">SPEAKER REGISTRATION</a>
            <a class="dropdown-item" href="https://www.nextwrld.sa/registration/InvitedDelegates" target="_blank">INVITED DELEGATES</a>
            <a class="dropdown-item" href="https://www.nextwrld.sa/registration/Applicantdelegates" target="_blank">APPLICANT DELEGATES</a>
          </div>
        </div>
      </div>
          <div class="col-md-2">
            <a class="daz_menu" href="{% url 'report' %}" ><img  class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3029/3029351.png" style="width:15% ;"><span class="font-weight-bolder m-1"> Report</span></a>
            </div>

          <div class="dropdown show" style="margin-top: -5px;">
            <a class="btn btn-sm btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MANAGEMENT
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <!-- <a class="dropdown-item" href="{% url 'tables' %}">NEW REGISTRATIONS</a> -->
              <a class="dropdown-item" href="{% url 'speaker_registrations_page' %}">SPEAKER REGISTRATION</a>
              <a class="dropdown-item" href="{% url 'invited_registrations_page' %}" >INVITED DELEGATES</a>
               <a class="dropdown-item" href="{% url 'applicant_registrations_page' %}">APPLICANT DELEGATES</a>
             
            </div>
          </div>
          
      </div>
      <!-- navbar menu mob view end -->
<!-- navbar menu for mobile view start-->
<div class="row motn-menu-mob">
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuIconButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ti-menu-alt"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
        
          <a class="dropdown-item font-weight-bold" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="dropdown-item font-weight-bold" href="{% url 'tables' %}">Events</a>
          <a class="dropdown-item font-weight-bold" href="{% url 'registration' %}">Register</a>
         
        </div>
      </div>
      </div>

      </div>
<!-- navbar menu for mobile view end -->
 
        <ul class="navbar-nav navbar-nav-right">
        
          <li class="nav-item nav-profile dropdown">
           
  
       
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              {% if role_id == 2 %} 
              <img src="https://www.infomeuae.com/assets/img/new/INFOME.png" alt="profile"/>
              {% else %}
              <img src="{% static 'images/user_icon.jpg' %}" alt="profile"/>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                {{username}}
              </a>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
    
      <!--<div class="theme-setting-wrapper">-->
      <!--  <div id="settings-trigger"><i class="ti-face-smile"></i></div>-->
      <!--  <div id="theme-settings" class="settings-panel">-->
      <!--  <i class="settings-close ti-close"></i>-->
      <!--    <p class="settings-heading">USER NOW</p>-->
      <!--    <div class="sidebar-bg-options" ><div class="img-ss rounded-circle bg-success border mr-3"></div>SHADIN</div>-->
      <!--    <div class="sidebar-bg-options" ><div class="img-ss rounded-circle bg-success border mr-3"></div>UWAISE</div>-->
      <!--    <p class="settings-heading mt-2">HEADER SKINS</p>-->
      <!--    <div class="color-tiles mx-0 px-4">-->
      <!--      <div class="tiles success"></div>-->
      <!--      <div class="tiles warning"></div>-->
      <!--      <div class="tiles danger"></div>-->
      <!--      <div class="tiles info"></div>-->
      <!--      <div class="tiles dark"></div>-->
      <!--      <div class="tiles default"></div>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" style="background-color: black;">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold text-white">Welcome {{username}}</h3>
                  <h6 class="font-weight-normal mb-0 text-white"> <span id="greetings"></span></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm bg-black" type="button" id="dropdownMenuDate2">
                     <i class="mdi mdi-calendar"></i> <span  class="badge badge-dark mr-1" id="date"></span><span class="badge badge-secondary" id="time"></span>
                    </button>
                
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="{% static 'images/dashboard/people.svg' %}"  alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                    
                      <div class="ml-3">
                        <h2  class="mb-0 font-weight-normal"><span class="temp"></span><sup>°C</sup><img src="" style="width: 30%;" id="wh-icon" alt=""></h2>
                        <h4 class="location font-weight-normal city" id="place"></h4>
                        <h6 class="font-weight-normal" id="country" ></h6>
                        <small class="text-uppercase" id="wh-desc">Please enable your location </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent mt-3">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                    
                     <a  style="text-decoration: none; color: white;">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4 text-center">All Pass</p>
                      <p class="fs-30 mb-2  text-center">{{all_count}}</p>
                      <p class="text-center">NEXTWRLD</p>
                      
                    </div>
                    </a>  
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    
                  <div class="card card-tale">
                      <a href="{% url 'speaker_registrations_page' %}" style="text-decoration: none; color: white;">
                    <div class="card-body">
                      <p class="mb-4  text-center">SPEAKER REGISTRATIONS</p>
                      <p class="fs-30 mb-2  text-center">{{speacker_count}}</p>
                      <p class=" text-center">NEXTWRLD</p>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-tale">
                      <a href="{% url 'applicant_registrations_page' %}" style="text-decoration: none; color: white;">
                    <div class="card-body">
                      <p class="mb-4  text-center">APPLICANT DELEGATES</p>
                      <p class="fs-30 mb-2  text-center">{{applicant_count}}</p>
                      <p class=" text-center">NEXTWRLD</p>
                    </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-tale">
                      <a href="{% url 'invited_registrations_page' %}" style="text-decoration: none; color: white;">
                    <div class="card-body">
                      <p class="mb-4  text-center">INVITED DELEGATES</p>
                      <p class="fs-30 mb-2  text-center">{{invited_count}}</p>
                      <p class="text-center">NEXTWRLD</p>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>




   
        </div>



        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer" style="background-color: black;">
          <div class="d-flex justify-content-center ">
            <span class="text-muted text-center text-sm-left d-block">Copyright ©2023<a href="https://www.nextwrld.sa/en" target="_blank"> Next World Forum 2023</a>. All rights reserved.</span>

          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- chart js  -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->

<script>
"use strict";
function DateAndTime() {
	var dt = new Date();

	var Hours = dt.getHours();
	var Min = dt.getMinutes();
	var Sec = dt.getSeconds();
	// var MilliSec = dt.getMilliseconds();  + MilliSec + "MilliSec " (for milliseconds).

	//strings
	var days = [
		"Sunday",
		"Monday",
		"Tuesday",
		"Wednesday",
		"Thursday",
		"Friday",
		"Saturday"
	];

	//strings
	var months = [
		"January",
		"February",
		"March",
		"April",
		"May",
		"June",
		"July",
		"August",
		"September",
		"October",
		"November",
		"December"
	];

	// var localTime = dt.getLocaleTimeString();
	// var localDate = dt.getLocaleDateString();

	if (Min < 10) {
		Min === "0" + Min;
	} //displays two digits even Min less than 10

	if (Sec < 10) {
		Sec === "0" + Sec;
	} //displays two digits even Sec less than 10

	var suffix = "AM"; //cunverting 24Hours to 12Hours with AM & PM suffix
	if (Hours >= 12) {
		suffix = "PM";
		Hours = Hours - 12;
	}
	if (Hours === 0) {
		Hours = 12;
	}

	// document.getElementById("time").innerHTML = localTime;
	
	document.getElementById("time").innerHTML =
		Hours + " : " + Min + ": " + Sec  + suffix + ".";
	document.getElementById("date").innerHTML =
		days[dt.getDay()] +
		", " +
		dt.getDate() +
		" " +
		months[dt.getMonth()] +
		" " +
		dt.getFullYear();
}

new DateAndTime();
setInterval("DateAndTime()", 1000);

  </script>

<script>
  var myDate = new Date();
var hrs = myDate.getHours();

var greet;
var massage;
if (hrs < 12){
  greet = 'Good Morning'
    massage='Have a great day';
} 
else if (hrs >= 12 && hrs <= 15){
  greet = 'Good Afternoon';
  massage='Its time for lunch'
}
else if (hrs >= 15 && hrs <= 24){
  greet = 'Good Evening';
  massage='Be Passionate What You Do'
}
  

document.getElementById('greetings').innerHTML ='<b>' + greet + '</b>';

document.getElementById('message').innerHTML =' '+massage;

</script>

<script>
  const api='8e87bcb2958b1d16235d0f3d430eda69'


window.addEventListener('load', () => {

  let long;
  let lat;



  // Accesing Geolocation of User
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((position) => {
      // Storing Longitude and Latitude in variables
      let long = position.coords.longitude;
      let  lat = position.coords.latitude;
      const base = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${long}&appid=${api}&units=metric`;
      console.log(base)
      // Using fetch to get data
      fetch(base)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          const { temp } = data.main;
          const country=data.sys.country
          const place = data.name;
          const { description, icon } = data.weather[0];
          $('#place').html(place)
          $('#country').html(country)
          $('.temp').html(temp.toFixed())
          $('#wh-desc').html(description)
          document.getElementById('wh-icon').src=`http://openweathermap.org/img/wn/${icon}@2x.png`
   
        });
    });
  }
});

 

</script>



</body>

</html>

