<!DOCTYPE html>
<html lang="en">
  {% load static %}
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Registration</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'css/vertical-layout-light/style.css' %}"
    />
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/motin_favicon.jpg' %}" />
    <!-- custom stylesheet start -->
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="{% static 'css/croppie.css' %}" />
  

    <link
      rel="stylesheet"
      href="{% static 'css/mystyle.css' %}"
     
    />
    
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@jsuites/cropper/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@jsuites/cropper/cropper.min.css" type="text/css" />

    <style>
      * Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
    </style>
  </head>

  <body>
    {% csrf_token %}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div
          class="content-wrapper d-flex align-items-center auth px-0 bg-reg"
         
        >
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5 shadow-lg">
                <div class="row">
                  <div class="col-md-6">
                    <div class="brand-logo" style="width: 200px !imprtant">
                     <a target="_blank" href="https://infoeventz.com/"><img
                        src="{% static 'images/infoevnt_logo.png' %}"
                        alt="logo"
                      /></a> 
                    </div>
                  </div>
                  <div class="col-md-6"></div>
                </div>

                <h4>Register here</h4>
                <h6 class="font-weight-light">
                  Registering is easy. It only takes a few steps
                </h6>
                <form class="pt-3">
                  <div class="mt-3">
                    <a
                      class="btn btn-info font-weight-bold shadow btn-block btn-lg font-weight-medium auth-form-btn"
                      data-toggle="modal"
                      data-target="#BuildModal"
                      >Register for Build / Dismantle Pass</a
                    >
                  </div>
                  <div class="mt-3">
                    <a
                      class="btn btn-info font-weight-bold shadow btn-block btn-lg font-weight-medium auth-form-btn"
                      data-toggle="modal"
                      data-target="#EventModal"
                      >Register for Event Pass</a
                    >
                  </div>
                  <div class="mt-3">
                    <a
                      class="btn btn-info font-weight-bold shadow btn-block btn-lg font-weight-medium auth-form-btn"
                      data-toggle="modal"
                      data-target="#VappModal"
                      >Register for Vehicle Pass</a
                    >
                  </div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
   
    <!-- build pass modal start -->
    <!-- Modal -->
    
    <div
      class="modal fade"
      id="BuildModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      style="overflow: scroll;"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Register Build / Dismantle Pass
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <form class="forms-sample" action="POST" method="POST">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="build-pass-first-name"
                      placeholder="Enter Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="build-pass-last-name"
                      placeholder="Enter Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Mobile</label>
                    <input
                      type="number"
                      class="form-control"
                      id="build-pass-mobile"
                      placeholder="Enter Mobile Number"
                    />
                    <div class="text-danger " id="buil-mobile-existes" style="display: none;"> Mobile number already exists </div>
                  </div>
                   
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="build-pass-email"
                      placeholder="Enter Email"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group ">
                    <label for="exampleInputUsername1">Designation</label>
                    <select name="" class="form-control "  id="build-pass-desiganation" onchange="change_designation(this)" required>
                      <option value="" selected disabled>select designation </option>
                      {% for d in build_pass_designations %}
                      <option value="{{d.id}}">{{d.designation}}</option>
                      {% endfor %}
                    </select>
                    
                  </div>
                  
                </div>
                <div class="col-md-6 col-sm-6" id="other_des_inp" style="display: none;">
                  <div class="form-group" >
                    <label for="exampleInputUsername1">Other Designation</label>
                    <input
                      type="text"
                      class="form-control"
                      id="build-pass-other"
                      placeholder="Enter designation Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Company Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="build-pass-comp"
                      placeholder="Enter Company Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <label for="exampleInputUsername1">Need Event Pass ??</label>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-check form-check-success mr-3">
                        <label class="form-check-label">
                          <input type="radio" id="build-pass-event-radio-true" name="build-pass-event-radio" class="form-check-input" value="True" />
                          Yes
                        </label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-check form-check-Danger">
                        <label class="form-check-label">
                          <input
                            type="radio"
                            id="build-pass-event-radio-false" name="build-pass-event-radio"
                            class="form-check-input"
                            value="False"
                            checked
                          />
                          No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

             


<div class="row m-2" id="build-pass-event-file-upload" style="display: none;">
  <div class="col-md-6 col-sm-6">
    <div class="form-group">
      <label for="exampleInputUsername1">Nationality</label>
      <input
        type="text"
        class="form-control"
        id="build-pass-event-nationality"
        placeholder="Enter your Nationality"
      />
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="form-group">
      <label for="exampleInputUsername1" >Id Proof</label>
    <select class="form-control" id="build-pass-event-idproof-sel" onchange="change_id_cat_build()">
<option value="1" selected>Emirates Id</option>
<option value="2">Passport</option>

    </select>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="form-group">
      <label for="exampleInputUsername1" id='build-id-proof-lable'>Emirates ID</label>
<input type="text" class="form-control" id="build-pass-event-idproof">
    </div>
  </div>

  <div class="col-md-6 col-sm-6" >
    <div class="" >
      <label id="build-pass-event-upload-id-lable">Upload Emirates ID</label>
       <input class="form-control" type="file" id="build-pass-event-id-file" accept="image/jpeg" >
      <!-- <button class="btn btn-primary" id="build-profile-open-btn"  type="button" onclick="build_open_crop()">Upload Photo</button> -->
    </div>
  </div>

                <div class="col-md-6 col-sm-6" >
                  <div class="" >
                    <label>Passport Size Photo</label>
                    <!-- <input class="form-control" type="file" id="build-pass-event-file" accept="image/jpeg" onchange="open_crop()"> -->
                    <button class="btn btn-primary" id="build-profile-open-btn"  type="button" onclick="build_open_crop()">Upload Photo</button>
                  </div>
                </div>

                

              </div>
                <div class="col-md-6 col-sm-6" id="build-pass-event-file-upload">
               
              </div>

              </div>
            </form>
          </div>
         
          <div class="modal-footer">
             
                   <a class="btn btn-sm btn-danger font-weight-bold shadow btn-block btn-lg font-weight-medium auth-form-btn"  data-toggle="modal" data-target=".bd-example-modal-lg"><span>Bulk Uploading</span><br><span style="color: #e6e6e5;   text-shadow: 1px 1px #000;" class="font-weight-bold">
                      ( <span style="color: #e6e6e5;  font-size: 17px; text-shadow: 1px 1px #000; font-weight: 900;" class="" >Only </span>Build/Dismantle Pass )</span></a>

            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" onclick="submit_build_pass()">Submit 
              
            </button>

          </div>
        </div>
      </div>
    </div>

    <!-- build pass modal end -->

    <!-- event pass modal start -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="EventModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalEvent"
      aria-hidden="true"
      style="overflow: scroll;"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalEvent">
              Register For Event Pass
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="forms-sample">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="event-pass-first-name"
                      placeholder="Enter Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="event-pass-last-name"
                      placeholder="Enter Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Mobile</label>
                    <input
                      type="number"
                      class="form-control"
                      id="event-pass-mobile"
                      placeholder="Enter Mobile Number"
                    />
                    <div class="text-danger " id="event-mobile-existes" style="display: none;"> Mobile number already exists </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="event-pass-email"
                      placeholder="Enter Email"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Designation</label>
                    <select name="" class="form-control "  id="event-pass-desiganation" onchange="change_event_designation(this)" required>
                      <option value="" selected disabled>Select Designation </option>
                      {% for d in build_pass_designations %}
                      <option value="{{d.id}}">{{d.designation}}</option>
                      {% endfor %}
                    </select>
                    
                  </div>
                </div>
                <div class="col-md-6 col-sm-6" id="other_des_event_inp" style="display: none;">
                  <div class="form-group" >
                    <label for="exampleInputUsername1">Other Designation</label>
                    <input
                      type="text"
                      class="form-control"
                      id="event-pass-other"
                      placeholder="Enter designation Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Company Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="event-pass-comp"
                      placeholder="Enter Company Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Nationality</label>
                    <input
                      type="text"
                      class="form-control"
                      id="event-pass-nationality"
                      placeholder="Enter your Nationality"
                    />
                  </div>
                </div>
              
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1" >Id Proof</label>
                  <select class="form-control" id="event-pass-idproof-sel" onchange="change_id_cat_event()">
              <option value="1" selected>Emirates Id</option>
              <option value="2">Passport</option>
              
                  </select>
                  </div>
                </div>
              
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1" id='event-pass-id-proof-lable'>Emirates ID</label>
              <input type="text" class="form-control" id="event-pass-idproof">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6" >
                  <div class="" >
                    <label id="event-pass-upload-id-lable">Upload Emirates ID Photo</label>
                     <input class="form-control" type="file" id="event-pass-id-file" accept="image/jpeg" >
                    <!-- <button class="btn btn-primary" id="build-profile-open-btn"  type="button" onclick="build_open_crop()">Upload Photo</button> -->
                  </div>
                </div>
              
                <div class="col-md-6 col-sm-6" id="event-pass-file-upload" >
                  <div class="" >
                    <label>Passport Size </label>
                    <!-- <input class="form-control" type="file" id="event-pass-file" accept="image/jpeg"> -->
                    <button class="btn btn-primary" id="event-profile-open-btn"  type="button" onclick="event_open_crop()">Upload Photo</button>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" onclick="submit_event_pass()">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- event pass modal end -->

    <!-- Vapp pass modal start -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="VappModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalVapp"
      aria-hidden="true"
      style="overflow: scroll;"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalVapp">
              Register For Vehicle Pass
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="forms-sample">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">First Name</label>
                    <input
                      type="text"
                      class="form-control "
                      id="vapp-pass-first-name"
                      placeholder="Enter First Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Last Name</label>
                    <input
                      type="text"
                      class="form-control "
                      id="vapp-pass-last-name"
                      placeholder="Enter Last Name"
                    />
                  </div>
                </div>
                
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Email</label>
                    <input
                      type="email"
                      class="form-control "
                      id="vapp-pass-email"
                      placeholder="Enter Email"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1"
                      >Vehicle Plate Number</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="vapp-pass-vehicle-number"
                      placeholder="Enter Vehicle Plate Number"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Mobile Number</label>
                    <input
                      type="number"
                      class="form-control"
                      id="vapp-pass-mobile-number"
                      placeholder="Enter Mobile Number"
                    />
                    <div class="text-danger " id="vapp-mobile-existes" style="display: none;"> Mobile number already exists </div>
                  </div>
                 
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Company Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="vapp-pass-comp"
                      placeholder="Enter Company Name"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputUsername1">Category</label>
                    <select name="" class="form-control "  id="vapp-pass-category" required>
                      <option value="" selected disabled>Select Category </option>
                      {% for d in vapp_category %}
                      <option value="{{d.id}}">{{d.category}}</option>
                      {% endfor %}
                    </select>
                    
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" onclick="submit_vapp_pass()">Submit

             
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal -->


    <!-- loading  -->

    

      <!-- corp content -->
      <div class="modal fade" id="build-event-crop"  aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Crop image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div style="display: flex;">
              
                <div id="build-image-cropper" style="border:1px solid rgb(0, 0, 0); margin: 5px;">
                  <label for="" class="text-mute text-center" style="margin-top: 130px; margin-left: 70px;" >click to open image</label>
                </div>
                <div id="build-image-cropper-result"><img style="width:120px; height:120px; margin: 5px;"></div>
            </div>
             
           
            </div>

            <div class="modal-footer">
             
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="build_crop()">Save</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="event-crop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Crop image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div style="display: flex;">
              
                <div id="event-image-cropper" style="border:1px solid rgb(0, 0, 0); margin: 5px;">
                  <label for="" class="text-mute text-center" style="margin-top: 130px; margin-left: 70px;" >click to open image</label>
                </div>
                <div id="event-image-cropper-result"><img style="width:120px; height:120px; margin: 5px;"></div>
            </div>
             
           
            </div>

            <div class="modal-footer">
             
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="event_crop()">Save</button>
            </div>
          </div>
        </div>
      </div>
     
<!-- ecxel upload -->
    <!-- bulk upload modal start -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bulk Uploding</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="badge badge-danger text-white" aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
          
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'London')">Build Pass</button>
          <button class="tablinks" onclick="openCity(event, 'Paris')">Vehicle Pass</button>
        
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
        <div id="London" class="tabcontent">
        
         
            
             <div class="row">
            
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputUsername1">Upload Excel</label>
                  <input type="file" class="form-control" id="build-pass-ecxel-upload" accept=".xlsx" placeholder="Upload Excel">
                </div>
  
  
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputUsername1"> <img src="{% static 'images/imp.jpg' %}" alt=""> Kindly follow the same template</label>
                 <a href="{% static 'excle/Build bulk demo.xlsx' %}" class="btn btn-primary border-0" download>Download Excel Template</a>
                </div>
  
  
              </div>
            </div>
     
              <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Build Pass Bulk Upload</h4>
                  <p class="card-description">
                   MOTN FESTIVAL 2022
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          
                          <th>
                            Name
                          </th>
                          <th>
                            Email
                            </th>
                            <th>
                              Mobile
                              </th>
                          <th>
                          Designation
                          </th>
                          <th>
                          Company Name
                          </th>
                          
                        </tr>
                      </thead>
                      <tbody id="bulk-build-table-tbody">
                        
                      </tbody>
                    </table>
                  </div>
                
                </div>
                <div class="col mt-2">
                  <button class="float-right btn btn-primary" onclick="submit_build_bulk()">Submit</button>
                </div>
                
              </div>
           
            </div>
           
        </div>
        
        <div id="Paris" class="tabcontent">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputUsername1">Upload Excel</label>
              <input type="file" class="form-control" id="vapp-pass-ecxel-upload" accept=".xlsx" placeholder="Upload Excel">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputUsername1"> <img src="{% static 'images/imp.jpg' %}" alt=""> Kindly follow the same template</label>
             <a href="{% static 'excle/vapp bulk demo .xlsx' %}" class="btn btn-primary border-0" download>Download Excel Template</a>
            </div>


          </div>
          </div>

 
          <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">vehicle Pass Bulk Upload</h4>
              <p class="card-description">
               MOTN FESTIVAL 2022
              </p>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      
                      <th>
                        Name
                      </th>
                      <th>
                        Email
                        </th>
                        <th>
                          Vehicle number
                          </th>
                      <th>
                      Mobile
                      </th>
                      <th>
                      Company Name
                      </th>
                      <th>
                        Category
                        </th>
                      
                    </tr>
                  </thead>
                  <tbody id="vapp-build-table-tbody">
                    
                  </tbody>
                </table>
              </div>
            
            </div>
            <div class="col mt-2">
              <button class="float-right btn btn-primary" onclick="submit_vapp_bulk()">Submit</button>
            </div>
            
          </div>
       
        </div>
        </div>
        
        <div id="Tokyo" class="tabcontent">
          <h3>Tokyo</h3>
          <p>Tokyo is the capital of Japan.</p>
        </div>
      </div>
    </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
    </div>
  </div>  
</div>
<!-- bulk upload modal end -->


    
    <!-- event pass modal end -->

    <!-- plugins:js -->
  
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>

    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
 
    <!-- endinject -->

    <script src="{% static 'js/croppie.js' %} "></script>
  
    <!-- mansoor scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.5/xlsx.full.min.js"></script>
    

    <!-- build pass -->
    
    <script>

      $(document).ready(function () {
        $("#build-pass-event-file-upload").slideUp();
        
      });
    $('input[name=build-pass-event-radio]').change(function() {
    if (this.value == 'True') {
       // document.getElementById('build-pass-event-file-upload').style.display='block'
        $("#build-pass-event-file-upload").slideDown();
        
    }
    else if (this.value == 'False') {
        $("#build-pass-event-file-upload").slideUp();
    }
    });



    $("input").change(function(){
  this.classList.remove('input-empty');
    });


      function submit_build_pass() {
        

        var firstname=document.getElementById('build-pass-first-name')
        var lastname=document.getElementById('build-pass-last-name')
        var mobile=document.getElementById('build-pass-mobile')
        var email=document.getElementById('build-pass-email')
        var desigantion=document.getElementById('build-pass-desiganation')
        var comp=document.getElementById('build-pass-comp')
        var other_des=document.getElementById('build-pass-other')
        event_pass=$('input[name=build-pass-event-radio]:checked').val();
       // var files=$('#build-image-cropper-result').children[0].prop("files");
        var profile_has=document.getElementById('build-image-cropper').classList.contains('jcrop_edition')
        
        
        var buttons_elm=[firstname,lastname,email,mobile,desigantion,comp]

        if (desigantion == 0 ){
          buttons_elm.push(other_des)
        }
        empty=false
        for (let i = 0; i < buttons_elm.length; i++) {
          if (!buttons_elm[i].value){
            empty=true
            buttons_elm[i].classList.add('input-empty')
          }
          
        }
        if (empty){
          return false;
        }

        $.ajax({
          type: "POST",
          url: "{% url 'check_user_existece' %}",
          data:{mobile:mobile.value,event_pass:event_pass,table:1,csrfmiddlewaretoken:'{{ csrf_token }}'} ,
          dataType: "json",
          success: function (data) {
            console.log(data.error,'data')

            if (data.error==true){
               document.getElementById('buil-mobile-existes').style.display='block'
            }
            else{

              document.getElementById('buil-mobile-existes').style.display='none'


              var data = new FormData();
        console.log(desigantion.value)
        
        data.append('firstname',firstname.value)
        data.append('lastname',lastname.value)
        data.append('email',email.value)
        data.append('mobile',mobile.value)
        data.append('desigantion',desigantion.value)
        data.append('comp',comp.value)
        data.append('event_pass',event_pass)
        
        if (desigantion.value == 0 ){
         
          data.append('other',other_des.value)
        }


        if (event_pass=='True'){
         // if(files.length < 1){
           // document.getElementById('build-pass-event-file').classList.add('input-empty')
           // return false;
          //}
          //data.append("file", files[0]);
          if (!profile_has){
            document.getElementById('build-profile-open-btn').classList.add('btn-danger')
            
            return false
          }
          var file=dataURLtoFile(document.getElementById('build-image-cropper-result').children[0].src, 'file.png')
          var Nationality=document.getElementById('build-pass-event-nationality').value;
          var id_cat=document.getElementById('build-pass-event-idproof-sel').value
          var id_proof=document.getElementById('build-pass-event-idproof').value
          
          var id_proof_image=$('#build-pass-event-id-file').prop('files')[0];
          console.log(id_proof_image)
   
          data.append('Nationality',Nationality)
          data.append('id_cat',id_cat)
          data.append('id_proof',id_proof)
          data.append('id_proof_img',id_proof_image)
          data.append('file',file)
          
   
        }
        data.append('csrfmiddlewaretoken','{{ csrf_token }}')
        
              let timerInterval
              Swal.fire({
              timerProgressBar: true,
              didOpen: () => {
              Swal.showLoading()
          
              },
  
              })

              $.ajax({
              type: "POST",
              url: "{% url 'build_pass_submit' %}",
              data: data,
              contentType: false,
              processData: false,
              dataType: "json",
              success: function (data) {
            
            
              window.location.replace('{% url "registration_success" %}');



              }
              });
              }
         
           
       }
      });
       
       }
      

      function submit_event_pass() {
        

        var firstname=document.getElementById('event-pass-first-name')
        var lastname=document.getElementById('event-pass-last-name')
        var email=document.getElementById('event-pass-email')
        var mobile=document.getElementById('event-pass-mobile')
        var desigantion=document.getElementById('event-pass-desiganation')
        var comp=document.getElementById('event-pass-comp')
        var Nationality=document.getElementById('event-pass-nationality')
        var id_cat=document.getElementById('event-pass-idproof-sel')
        var id_proof=document.getElementById('event-pass-idproof')
        var profile_has=document.getElementById('event-image-cropper').classList.contains('jcrop_edition')
        var other_des=document.getElementById('event-pass-other')
        var other_des=document.getElementById('event-pass-other')

        //var files=$('#event-pass-file').prop("files");

        var buttons_elm=[firstname,lastname,email,mobile,desigantion,comp,Nationality,id_cat,id_proof]
        if (desigantion == 0 ){
          buttons_elm.push(other_des)
        }

        empty=false
        for (let i = 0; i < buttons_elm.length; i++) {
          if (!buttons_elm[i].value){
            empty=true
            buttons_elm[i].classList.add('input-empty')
          }
          
        }
        if (empty){
          return false;
        }


        
         
          $.ajax({
          type: "POST",
          url: "{% url 'check_user_existece' %}",
          data:{mobile:mobile.value,table:2,csrfmiddlewaretoken:'{{ csrf_token }}'} ,
          dataType: "json",
          success: function (data) {

            if (data.error==true){
               document.getElementById('event-mobile-existes').style.display='block'
            }
            else{

              document.getElementById('event-mobile-existes').style.display='none'
              var data = new FormData();

        data.append('firstname',firstname.value)
        data.append('lastname',lastname.value)
        data.append('email',email.value)
        data.append('mobile',mobile.value)
        data.append('desigantion',desigantion.value)
        data.append('comp',comp.value)

        var id_proof_image=$('#event-pass-id-file').prop('files')[0];
        data.append('id_proof_img',id_proof_image)
          
          data.append('Nationality',Nationality.value)
          data.append('id_cat',id_cat.value)
          data.append('id_proof',id_proof.value)
          if (desigantion.value == 0 ){
         
          data.append('other',other_des.value)
        }
        data.append('csrfmiddlewaretoken','{{ csrf_token }}')
     
       // if(files.length < 1){
         // document.getElementById('event-pass-file').classList.add('input-empty')
        //  return false;
        //  }
          if (!profile_has){
            document.getElementById('event-profile-open-btn').classList.add('btn-danger')
            return false
          }
          var file=dataURLtoFile(document.getElementById('event-image-cropper-result').children[0].src, 'file.png')
          
         
          data.append('file',file)


            let timerInterval
            Swal.fire({

  
            timerProgressBar: true,
            didOpen: () => {
            Swal.showLoading()
          
          
            },
  
            })

            
        
        
       // data={name=}
            $.ajax({
            type: "POST",
            url: "{% url 'event_pass_submit' %}",
            data: data,
           contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
            
              window.location.replace('{% url "registration_success" %}');

            }
            
        });

          }
         }
        });
      }

      function submit_vapp_pass() {
        

        var firstname=document.getElementById('vapp-pass-first-name')
        var lastname=document.getElementById('vapp-pass-last-name')
        var email=document.getElementById('vapp-pass-email')
        var mobile_number=document.getElementById('vapp-pass-mobile-number')
        var vehicle_number=document.getElementById('vapp-pass-vehicle-number')
        var comp=document.getElementById('vapp-pass-comp')
        var category=document.getElementById('vapp-pass-category')
       

        buttons_elm=[firstname,lastname,email,mobile_number,comp,vehicle_number,category]
        empty=false
        for (let i = 0; i < buttons_elm.length; i++) {
          if (!buttons_elm[i].value){
            empty=true
            buttons_elm[i].classList.add('input-empty')
          }
          
        }
        if (empty){
          return false;
        }


        


        $.ajax({
          type: "POST",
          url: "{% url 'check_user_existece' %}",
          data:{mobile:mobile_number.value,table:3,csrfmiddlewaretoken:'{{ csrf_token }}'} ,
          dataType: "json",
          success: function (data) {

            if (data.error==true){
               document.getElementById('vapp-mobile-existes').style.display='block'
            }
            else{

              document.getElementById('vapp-mobile-existes').style.display='none'

              var data = new FormData();

        data.append('firstname',firstname.value)
        data.append('lastname',lastname.value)
        data.append('email',email.value)
        data.append('mobile',mobile_number.value)
        data.append('number-plate',vehicle_number.value)
        data.append('comp',comp.value)
        data.append('category_id',category.value)
        data.append('csrfmiddlewaretoken','{{ csrf_token }}')



            let timerInterval
        Swal.fire({

        timerProgressBar: true,
         didOpen: () => {
          Swal.showLoading()
          
          
          },
  
          })

       
       // data={name=}
        $.ajax({
          type: "POST",
          url: "{% url 'vapp_pass_submit' %}",
          data: data,
          contentType: false,
          processData: false,
          dataType: "json",
          success: function (data) {
            
           
            window.location.replace('{% url "registration_success" %}');


          }
        });
          }
        }
        });
      }
      
      function dataURLtoFile(dataurl, filename) {
var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
    bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
    while(n--){
        u8arr[n] = bstr.charCodeAt(n);
    }
    return new File([u8arr], filename, {type:mime});
}

      </script>
  

    <!-- / mansoor scripts -->

    <script>
     cropper(document.getElementById('build-image-cropper'), {
    area: [ 280, 280 ],
    crop: [ 150, 150 ],

})
cropper(document.getElementById('event-image-cropper'), {
    area: [ 280, 280 ],
    crop: [ 150, 150 ],

})

function build_crop() {
  $('#BuildModal').modal('toggle')
  document.getElementById('build-image-cropper-result').children[0].src=document.getElementById('build-image-cropper').crop.getCroppedImage().src;
}
function event_crop() {
  $('#EventModal').modal('toggle')
  document.getElementById('event-image-cropper-result').children[0].src=document.getElementById('event-image-cropper').crop.getCroppedImage().src;
}

function build_open_crop() {
  $('#BuildModal').modal('toggle')
  $('#build-event-crop').modal('toggle')
}
function event_open_crop() {
  $('#EventModal').modal('toggle')
  $('#event-crop').modal('toggle')
}

function change_id_cat_build() {
  
  if (document.getElementById('build-pass-event-idproof-sel').value == 1 ){
    document.getElementById('build-id-proof-lable').innerHTML='Emirates ID'
    document.getElementById('build-pass-event-upload-id-lable').innerHTML='Upload Emirates ID '
  }
  else{
    document.getElementById('build-id-proof-lable').innerHTML='Passport ID'
    document.getElementById('build-pass-event-upload-id-lable').innerHTML='Upload Passport ID '
  }
  
  
}

function change_id_cat_event() {
  
  if (document.getElementById('event-pass-idproof-sel').value == 1 ){
    document.getElementById('event-pass-id-proof-lable').innerHTML='Emirates ID'
    document.getElementById('event-pass-upload-id-lable').innerHTML='Upload Emirates ID '
  }
  else{
    document.getElementById('event-pass-id-proof-lable').innerHTML='Passport ID'
    document.getElementById('event-pass-upload-id-lable').innerHTML='Upload Passport ID '
  }
  
  
}
    </script>
    
    <!-- bulk uoload -->
    <script>
      var result=[]
  $("#build-pass-ecxel-upload").on("change", function (e) {
   var file = e.target.files[0];
   // input canceled, return
   if (!file) return;
   
   var FR = new FileReader();
   FR.onload = function(e) {
     var data = new Uint8Array(e.target.result);
     var workbook = XLSX.read(data, {type: 'array'});
     var firstSheet = workbook.Sheets[workbook.SheetNames[0]];
     
     // header: 1 instructs xlsx to create an 'array of arrays'
      result= XLSX.utils.sheet_to_json(firstSheet, { header: 1 });
     

     tbody=''

     for (let i =1 ; i < result.length; i++){
      console.log(result[i])

      for (let c = 0; c < result[i].length; c++) {
          
        if (result[i][c] == undefined ){
          alert('some fields are emty or undefined')
             
          }
      }
      
      
      tr='<tr><td>'+ result[i][0]+' '+result[i][1] +'</td><td>'+ result[i][2]+'</td><td>'+ result[i][3]+'</td><td>'+ result[i][4]+'</td><td>'+ result[i][5]+'</td></tr>'
      tbody+=tr
     }

     document.getElementById('bulk-build-table-tbody').innerHTML=tbody




   };
   FR.readAsArrayBuffer(file);
});

function submit_build_bulk() {


  var bulk_array=[]

  for (let i = 1; i < result.length; i++) {
    
    data=[result[i][0],result[i][1],result[i][2],result[i][3],result[i][4],result[i][5]]

    $.ajax({
    type: "POST",
    url: "{% url 'build_bulk_submit' %}",
    data: {data:data,csrfmiddlewaretoken:'{{ csrf_token }}'},
    dataType: "json",
    
    success: function (data) {
      if (data.success){
        document.getElementById('bulk-build-table-tbody').childNodes[i-1].classList.add('table-success')
      }
      else{
        document.getElementById('bulk-build-table-tbody').childNodes[i-1].classList.add('table-danger')
      }
      
    }


  });
  }
  
  
}
    
    function change_designation(select) {
      if(select.value == 000 ){
        document.getElementById('other_des_inp').style.display='block'
      }
      else{
        document.getElementById('other_des_inp').style.display='none'
      }
      
      }
      function change_event_designation(select) {
      if(select.value == 000 ){
        document.getElementById('other_des_event_inp').style.display='block'
      }
      else{
        document.getElementById('other_des_event_inp').style.display='none'
      }
      
      }
    </script>

    <script>
 var vapp_result=[]
  $("#vapp-pass-ecxel-upload").on("change", function (e) {
   var file = e.target.files[0];
   // input canceled, return
   if (!file) return;
   
   var FR = new FileReader();
   FR.onload = function(e) {
     var data = new Uint8Array(e.target.result);
     var workbook = XLSX.read(data, {type: 'array'});
     var firstSheet = workbook.Sheets[workbook.SheetNames[0]];
     
     // header: 1 instructs xlsx to create an 'array of arrays'
     vapp_result= XLSX.utils.sheet_to_json(firstSheet, { header: 1 });
     

     tbody=''

     for (let i =1 ; i < vapp_result.length; i++){
      console.log(vapp_result[i])

      for (let c = 0; c < vapp_result[i].length; c++) {
          
        if (vapp_result[i][c] == undefined ){
          alert('some fields are emty or undefined')
             
          }
      }
      
      
      tr='<tr><td>'+ vapp_result[i][0]+' '+vapp_result[i][1] +'</td><td>'+ vapp_result[i][2]+'</td><td>'+ vapp_result[i][3]+'</td><td>'+ vapp_result[i][4]+'</td><td>'+ vapp_result[i][5]+'</td><td>'+ vapp_result[i][6]+'</td></tr>'
      tbody+=tr
     }

     document.getElementById('vapp-build-table-tbody').innerHTML=tbody




   };
   FR.readAsArrayBuffer(file);
});

function submit_vapp_bulk() {


var bulk_array=[]

for (let i = 1; i < vapp_result.length; i++) {
  
  data=[vapp_result[i][0],vapp_result[i][1],vapp_result[i][2],vapp_result[i][3],vapp_result[i][4],vapp_result[i][5],vapp_result[i][6]]

  $.ajax({
  type: "POST",
  url: "{% url 'vapp_bulk_submit' %}",
  data: {data:data,csrfmiddlewaretoken:'{{ csrf_token }}'},
  dataType: "json",
  
  success: function (data) {
    if (data.success){
      document.getElementById('vapp-build-table-tbody').childNodes[i-1].classList.add('table-success')
    }
    else{
      document.getElementById('vapp-build-table-tbody').childNodes[i-1].classList.add('table-danger')
    }
    
  }


});
}


}
    </script>

   <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>

      
  </body>
</html>
