<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>INFOEVENTZ-DASHBOARD</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/info_logo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  
  <style>
    .daz_menu:hover
  {
    color: #1CAFA0 ;
    text-decoration: none;
  }
  
  .img-ss
  {
    width: 10px;
    height: 10px;
  }
  #settings-trigger
  {
    background-color: green !important;
    color: white !important;
    cursor: pointer;
  }
  #settings-trigger:hover
  {
    background-color: white !important;
  
    cursor: pointer;
  }

  .ti-face-smile:hover
  {
    color: green !important;
    cursor: pointer;
    font-size: 30px !important;
  }
</style>
  
  
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo ml-3" href="index.html"><img style="height: 105px;" src="{% static 'images/infoevent_logo.png' %}" class="" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/infoevent_logo.png' %}" alt="logo"/></a>
      </div>
      
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
   

        <!-- navbar menu web view start -->
   <div class="row ml-5 motin-menu-web">
    <div class="col-md-2">
      <a class="daz_menu" href="{% url 'dashboard' %}"><img  class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/1828/1828673.png" style="width:15% ;"><span class="font-weight-bolder m-1"> Dashboard</span></a>
      </div>
  
        <div class="col-md-2">
          <a class="daz_menu" href="{% url 'registration' %}" target="_blank"><img  class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/2921/2921226.png" style="width:15% ;"><span class="font-weight-bolder m-1"> Register</span></a>
          </div>
          <div class="col-md-2">
            <a class="daz_menu" href="{% url 'registration' %}" target="_blank"><img  class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3029/3029351.png" style="width:15% ;"><span class="font-weight-bolder m-1"> Report</span></a>
            </div>

          <div class="dropdown show" style="margin-top: -5px;">
            <a class="btn btn-sm btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MANAGEMENT
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'tables' %}">NEW REGISTRATIONS</a>
              <a class="dropdown-item" href="{% url 'build_pass_page' %}">BUILD PASS</a>
              <a class="dropdown-item" href="{% url 'event_pass_page' %}">EVENT PASS</a>
              <a class="dropdown-item" href="{% url 'vapp_pass_page' %}">VAPP PASS</a>
            </div>
          </div>
          
      </div>
      <!-- navbar menu mob view end -->
<!-- navbar menu for mobile view start-->
<div class="row motn-menu-mob">
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuIconButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ti-menu-alt"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
        
          <a class="dropdown-item font-weight-bold" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="dropdown-item font-weight-bold" href="{% url 'tables' %}">Events</a>
          <a class="dropdown-item font-weight-bold" href="{% url 'registration' %}">Register</a>
         
        </div>
      </div>
      </div>

      </div>
<!-- navbar menu for mobile view end -->
 
        <ul class="navbar-nav navbar-nav-right">
        
          <li class="nav-item nav-profile dropdown">
           
  
       
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              {% if role_id == 2 %} 
              <img src="https://www.infomeuae.com/assets/img/new/INFOME.png" alt="profile"/>
              {% else %}
              <img src="{% static 'images/user_icon.jpg' %}" alt="profile"/>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                {{username}}
              </a>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
    
      
      <div class="main-panel">
        <div class="content-wrapper">
<div class="row">
<div class="col-md-12 mb-5">
<h3 class="text-center">Report</h3>
</div>
</div>


     <div class="col-md-12">
       <div class="row">
<div class="col-md-3">
<label>Category</label>
<select class="form-control">
  <option disabled selected>Select Category</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select> 
</div>
<div class="col-md-3">
  <label>Designation</label>
  <select class="form-control">
    <option disabled selected>Select Designation</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select> 
  </div>
  <div class="col-md-2">
    <label>Date From</label>
<input class="form-control" type="date" >
  </div>
  <div class="col-md-2">
    <label>Date To</label>
<input class="form-control" type="date" >
  </div>
  <div class="col-md-2">

<button class="btn mt-4 btn-primary
"> View </button>
  </div>
       </div>
      </div>

<div class="row">
  <div class="col-md-12">
<h2 class="text-center text-muted" style="padding:200px;">No Data !!</h2>
  </div>

</div>





          </div>




   
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
   
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023.<a href="https://www.infomeuae.com/" target="_blank">INFOME TECHNOLOGIES LLC</a>. All rights reserved.</span>

      </div>
    </footer>
    <!-- page-body-wrapper ends -->

  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->

<script>
"use strict";
function DateAndTime() {
	var dt = new Date();

	var Hours = dt.getHours();
	var Min = dt.getMinutes();
	var Sec = dt.getSeconds();
	// var MilliSec = dt.getMilliseconds();  + MilliSec + "MilliSec " (for milliseconds).

	//strings
	var days = [
		"Sunday",
		"Monday",
		"Tuesday",
		"Wednesday",
		"Thursday",
		"Friday",
		"Saturday"
	];

	//strings
	var months = [
		"January",
		"February",
		"March",
		"April",
		"May",
		"June",
		"July",
		"August",
		"September",
		"October",
		"November",
		"December"
	];

	// var localTime = dt.getLocaleTimeString();
	// var localDate = dt.getLocaleDateString();

	if (Min < 10) {
		Min === "0" + Min;
	} //displays two digits even Min less than 10

	if (Sec < 10) {
		Sec === "0" + Sec;
	} //displays two digits even Sec less than 10

	var suffix = "AM"; //cunverting 24Hours to 12Hours with AM & PM suffix
	if (Hours >= 12) {
		suffix = "PM";
		Hours = Hours - 12;
	}
	if (Hours === 0) {
		Hours = 12;
	}

	// document.getElementById("time").innerHTML = localTime;
	
	document.getElementById("time").innerHTML =
		Hours + " : " + Min + ": " + Sec  + suffix + ".";
	document.getElementById("date").innerHTML =
		days[dt.getDay()] +
		", " +
		dt.getDate() +
		" " +
		months[dt.getMonth()] +
		" " +
		dt.getFullYear();
}

new DateAndTime();
setInterval("DateAndTime()", 1000);

  </script>
 <script>
// let weather = {
//     apiKey: "8fa23948b5ec171a5a4e67936002ce76",
//     fetchWeather: function (city) {
//         fetch(
//         "https://api.openweathermap.org/data/2.5/weather?q="
//          + city
//          + "&units=metric&appid="
//          + this.apiKey
//         )
//          .then((response) => response.json())
//          .then((data) => this.displayWeather(data));
//         },
//         displayWeather: function(data) {
//             const { name } = data;
//             const { icon, description } = data.weather[0];
//             const { temp, humidity } = data.main;
//             const { speed } = data.wind;
//             document.querySelector(".city").innerText = "Weather in " + name
//             document.querySelector(".icon").src = "https://openweathermap.org/img/wn/" + icon + ".png";
//             document.querySelector(".description").innerText = description;
//             document.querySelector(".temp").innerText = Math.round(temp) + "°C";
//             document.querySelector(".humidity").innerText = "Humidity: " + humidity + "%";
//             document.querySelector(".wind").innerText = "Wind Speed: " + speed + "Km/h"
//             document.querySelector(".weather").classList.remove("loading");
//             document.body.style.backgroundImage = "url('https://source.unsplash.com/random/1920×1080/? " + name + "')"
//         },
//         search: function () {
//             this.fetchWeather(document.querySelector(".search-bar").value);
//         },
// };

// document.querySelector(".search button").addEventListener("click", function() {
//     weather.search();
// });

// document.querySelector(".search-bar").addEventListener("keyup", function(event) {
//     if (event.key == "Enter") {
//         weather.search();
//     }
// });

// weather.fetchWeather("dubai");

</script>
<script>
  var myDate = new Date();
var hrs = myDate.getHours();

var greet;
var massage;
if (hrs < 12){
  greet = 'Good Morning'
    massage='Have a great day';
} 
else if (hrs >= 12 && hrs <= 15){
  greet = 'Good Afternoon';
  massage='Its time for lunch'
}
else if (hrs >= 15 && hrs <= 24){
  greet = 'Good Evening';
  massage='Be Passionate What You Do'
}
  

document.getElementById('greetings').innerHTML ='<b>' + greet + '</b>';

document.getElementById('message').innerHTML =' '+massage;

</script>

<script>
  const api='8e87bcb2958b1d16235d0f3d430eda69'


window.addEventListener('load', () => {

  let long;
  let lat;



  // Accesing Geolocation of User
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((position) => {
      // Storing Longitude and Latitude in variables
      let long = position.coords.longitude;
      let  lat = position.coords.latitude;
      const base = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${long}&appid=${api}&units=metric`;
      console.log(base)
      // Using fetch to get data
      fetch(base)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          const { temp } = data.main;
          const country=data.sys.country
          const place = data.name;
          const { description, icon } = data.weather[0];
          $('#place').html(place)
          $('#country').html(country)
          $('.temp').html(temp.toFixed())
          $('#wh-desc').html(description)
          document.getElementById('wh-icon').src=`http://openweathermap.org/img/wn/${icon}@2x.png`
   
        });
    });
  }
});

 

</script>

</body>

</html>

