<html>
<head>
<title>NWF Delegate Invitation Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body  style="background-color: #fff;" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (NWF Delegate Invitation Confirmation) -->
<table id="Table_01" align="center" width="801" height="713" border="0" cellpadding="0" cellspacing="0">
	<tr style="line-height: 0;">
		<td colspan="3">
			<img src="https://itpnl.com/nfw/images/nwf-confirmation_01.jpg" width="800" height="235" alt=""></td>
		
	</tr>
	<tr style="line-height: 0;">
		<td rowspan="2">
			<img src="https://itpnl.com/nfw/images/nwf-confirmation_02.jpg" width="101" height="405" alt=""></td>
		<td>
			</td>
		<td rowspan="3">
			<img src="https://itpnl.com/nfw/images/nwf-confirmation_04.jpg" width="109" height="406" alt=""></td>
	
	</tr>
	<tr style="line-height: 0;">
		<td height="404"  style="width:590px; height:404px; background-color:#000; color:#FFF; font:14px Arial, Helvetica, sans-serif; line-height:18px;">
			Dear <strong style="color:#6FF">{{name}}</strong>,</p>
<p>We are delighted that you are joining us for the Next World Forum at Four Seasons Hotel, Kingdom Centre, Riyadh, Saudi Arabia on 30-31 August 2023.</p>
<p>Your registration has been confirmed and your attendance status is CONFIRMED. Please expect to receive your QR code required for badge collection closer to the event.</p>
<p>All travellers to the Kingdom of Saudi Arabia require a visa. Please visit <strong style="color:#6FF"><a href="https://visa.visitsaudi.com/Registration/Verify" style="color:#6FF">https://visa.visitsaudi.com/Registration/Verify</a></strong> in advance of your travel.</p>
<p>Attendance to the Next World Forum is free of charge, however, travel, and accommodation remain at your own expense. </p>
<p>Please email <a href="invitations@nextwrld.sa" style="color:#6FF"><strong>invitations@nextwrld.sa</strong></a> for any further assistance.</p>
<p>We look forward to welcoming you to the Next World.</p>
<p>Sincerely,</p> 
<p><strong>Next World Team</strong>
</p></td>
	
	</tr>
	<tr style="line-height: 0;">
		<td colspan="2" rowspan="2">
			<img src="https://itpnl.com/nfw/images/nwf-confirmation_06.jpg" width="691" height="73" alt=""></td>

	</tr>
	<tr style="line-height: 0;">
		<td>
			<img src="https://itpnl.com/nfw/images/nwf-confirmation_07.jpg" width="109" height="72" alt=""></td>
	
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>