<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>MOTN Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->

    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'css/vertical-layout-light/style.css' %}"
    />

    <style>
      .location {
        text-decoration: none !important;
        background-color: blue;
        color: white !important;
        font-weight: bold;
        padding: 15px !important;
        border-radius: 15px;
      }
      .location:hover {
        color: white;
        padding: 12px;
        background-color:darkblue;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col">
           
<span style="color: black;  font-size: 15px;  text-transform: capitalize;  "> Dear {{name}}</span>

<br>
<br>


             
<span  style=" font-size: 15px;">Your DAZ 23 {{reg}}  has been successfully submitted. Please allow up to 24hrs for approval & you will be notified once approved or rejected.</span>
<br>
<br>
<br>

<span style=" font-size: 15px;">
  UID : {{uid}}
  </span>
  <br>
  <span style=" font-size: 15px;">Name : {{name}}</span>
  <br>
  <span style=" font-size: 15px;">Mobile : {{mobile}}</span>
            <br>
            <br>
            <span style=" font-size: 15px;">Thank you.</span>  
            <br>
            <br>
            <span style=" font-size: 15px;">Sincerely,</span>
            <br>
            <span  style=" font-size: 15px;">DAZ 23 Accreditation Team</span>
          </div>
        </div>
    

      </div>
<div class="col-md-12" style="margin-top:30px;">
  <a href="https://infoeventz.com/"><img width="30%" class="img-fluid" src="http://daz.infoeventz.com/static/images/daz_logo.png"></a>

</div>

    </div>
  </body>
</html>
