
.simplepicker-date-section 
{
  background-color: rgba(2,34,77,.7) !important;
 
}
.simplepicker-day-header
{
background-color: rgba(2,34,77) !important;
}
.simplepicker-btn
{
  border-color:rgba(2,34,77) !important;
  color: rgba(2,34,77) !important;
}
.simplepicker-btn:hover
{
  background-color: rgba(2,34,77,.7) !important;
 color: white !important;
}
.simplepicker-calender tbody .active:after
{
  background-color:rgba(2,34,77) !important; ;
}

select+.select2-container--bootstrap-5
{
  width:100% !important;
}
.iti{
  width: 100% !important;
}

.access-div
{
  height: 420px;
  border-radius:10px; 
margin-top: 30px;
  background-color: black;
  z-index: -1;
  position:absolute;

}
.access-reg
{
  padding-right: 40px;
  border-radius:10px;
   padding-left: 40px;
   padding-top:40px;
   background:black;
   margin-bottom:20px;
   flex: auto;
   justify-content:center;
}
/*black box in the background start*/

.bg-main-pos-speaker
{
  position: absolute; 
  z-index: -1;
  margin-left: 15px;
}

.bg-main-speaker
{
  height:1000px; 
  z-index: -1;
   background-color: black;
    padding: 20px;
     border-radius:10px ;
}


.bg-main-pos-invited
{
  position: absolute; 
  z-index: -1;
  margin-left: 15px;
}

.bg-main-invited
{
  height:1000px; 
  z-index: -1;
   background-color: black;
    padding: 20px;
     border-radius:10px ;
}


.bg-main-deligate
{
  height:900px; 
  z-index: -1;
   background-color: black;
    padding: 20px;
     border-radius:10px ;
}



/*black box in the background end*/

.hidden{
    display:none;
        width: 660px;
    padding-right: 40px;
        margin-left: -45px;
    background: black;
    padding-left: 40px;
}


/* file selector button start*/
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder
{
    color:white !important;
}
.select2-container .select2-selection--single .select2-selection__rendered
{
    padding-left:0px !important;
}
.myform-control
{
    display: block;
    width: 100%;
border-radius:5px;
  color:white;
  height:40px;

}
.form-check-input:checked
{
    background-color: #1c8090 !important;
    border-color: #1c8090 !important;
}

input[type="file"]::file-selector-button {

  background-color: #1c8090;
  color:white;
  padding:8px;

}
input::file-selector-button:hover {
  background-color:  #095966;
  cursor:pointer;
}

.btn-light
{
    background-color: #1c8090 !important;
    border-color:#1c8090 !important;
    color: white !important;
    
}
.btn-light:hover
{
     background-color: #095966 !important;
      border-color:#095966 !important;
      color:white !important;
}
/* file selector button end */

/*select style start*/


.form-group select
{
  background-color: #666461;
  border-color: #666461;
  height: 40px;
 font-size: 15px;
 color:white;
    letter-spacing: 1px;
}
select::placeholder
{
  font-size: 10px !important;
}



/*select style end*/


/* scrollbar design start */

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}


/* scrollbar design end */


/* index page design start */
body{

    font-family: 'Anuphan', sans-serif !important;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
}

/* registration form start */
.form-group label
{
  color: white;

}
.form-group input:focus
{
  background: #666461 !important;
}
.form-control
{
  color: white !important;
}
.form-group input
{
  background-color: #666461;
  border-color: #666461;
 
    letter-spacing: 1px;
}
.form-group textarea
{
  background-color: #666461;
  border-color:#666461;
  color: white !important;
  height:100px;
 
    letter-spacing: 1px;
}
.form-group textarea:focus
{
  background-color: #666461;
  border-color: #666461;
 
}

label
{
  color: white;
  
}
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered
{
  color: white !important;
    letter-spacing: 1px;
   
}
/* registration form end */


/* navbar login button start */

.log-in:hover
{
background-color: black !important;
border: black;
color: white !important;
font-weight: bold;
}

/* navbar login button end */

/* register heading */



/* register heading end */

/* register submit button */

.submit-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.submit-btn:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.submit-btn:hover .btn-icon {
  transform: translateX(100%);
}
.submit-btn .btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.submit-btn .btn-icon i {
  transform: translateX(-50%);
}


/* register submit button */
/* register box start */

.register-box {
    height: 300px;
    width: 200px;
    background-color: transparent; /* replace with your desired background color */
    transition: all 0.3s ease; /* this will make the transition smooth */
    border-radius: 10px;
    border: 1px solid darkgray;
  
  }
  
  .register-box:hover {
    background-color: #161618; /* replace with your desired background color */
 /* replace with your desired hover background color */
    transform: scale(1.05); /* this will make the box slightly larger on hover */
  }
  .reg-text {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }


/* register box end */

@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

/* index page design end */

/* register page design start */

input::placeholder {
    font-size: 11px; /* replace with your desired font size */
    color: white !important;
  }
  
  .form-group::placeholder
  {
      font-size:11px !important;
      
  }
  
  textarea::placeholder
  {
    color:white !important;
    font-size: 11px;
  }
  .select2-container .select2-selection--single
  {
    background: #666461 !important;
    border-color: #666461 !important;

    font-size:1 rem;
  }

/* register page design end */


@media (max-width: 565px)  {

  .intl-tel-input{
    width: 100% !important;
  }
        /* access div start */
.access-div
{
  height: 340px;
  margin-top:20px;
  border-radius:10px; 
width: 390px;
  background-color: black;
  z-index: -1;
  position:absolute !important;
}

.access-reg
{
  padding-right: 40px;
   padding-left: 40px;
   margin-top: 20px;
}

/* access div end */
    
    
    .hidden
    {
        width:450px;
    
        padding-right:0px;
    }
    
    /*black box on the background start*/
    
    .bg-main-pos-invited
{
 margin-top: 20px !important;
}

.bg-main-invited
{
  padding: 220px;
    height: 1000px;
}
.bg-main-deligate
{
  padding: 190px;
    height: 1200px;
}
    
    
      .bg-main-speaker
  {
    padding: 220px;
    height: 1100px;
  }
  .bg-main-pos-speaker
  {
    left:5px;
    margin-top: 20px !important;
  }
    
    
    /*black box on the background end*/
    .footer-text
    {
          display: flex;
    justify-content: center;
    align-items: center;
        
    }
    .navbar-brand img
    {
        margin-left:0px !important;
    }
.desk-index.d-flex
{
    display:none !important;
    
}
.mob-reg-text
{
font-size:20px !important;
}
.mobile-index-reg
{
    width: 330px;
    height: 50px;
   border-radius: 10px;
    background-color: transparent;
    border:1px solid white;
    animation: slide-in 0.5s ease-out forwards;
}

}





@media (min-width:565.90px) and (max-width: 768px)  { 
    
  .intl-tel-input{
    width: 100% !important;
  }
    
.access-div
{
  height: 450px;
  margin-top:20px;
  border-radius:10px; 
width: 450px !important;
  background-color: black;
  z-index: -1;
  position:absolute !important;
}

.access-reg
{
  padding-right: 0px;
   padding-left: 0px;
   margin-top: 20px;
}

/* access div end */
    
    
    
    
 .hidden
 {
         width: 410px;
 }

.mobile-index.d-flex
{
    display:none !important;
}
.desk-index.d-flex
{
    display:flex !important;
    
}
 }

@media (min-width:769.90px) and (max-width: 990px)  {
    .mobile-index.d-flex
    {
        display:none !important;
    }
    .desk-index.d-flex
{
    display:flex !important;
    
}

 }

@media (min-width: 1200px) { 
    .mobile-index.d-flex
    {
        display:none !important;
    }

 }
