<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Infoevent Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/motin_favicon.jpg' %}" />
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  <link href="http://fonts.cdnfonts.com/css/avenir-next-lt-pro" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/avenir-next-lt-pro-900" rel="stylesheet">
  <!-- font awesome cdn start -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>

  <style>
    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }



    @media print {
      @page {
        /*size: A5;
          margin: 5px;*/
        size: 210mm 148mm;
        size: portrait;

        margin: 0px;

      }

      body * {
        visibility: hidden;




      }

      #section-to-print,
      #section-to-print * {
        visibility: visible;

      }

      #section-to-print {
        position: absolute;
        left: 0px;

        top: 0px;



      }

  
    }
  </style>

</head>

<body style="font-family:'Noto Sans' !important;">
  <!-- vapp_accree Id card Design Start -->
  <div class="col-md-6 main-vapp-card" id="section-to-print">
<div>
  <img style="width: 816px; margin-left: -15px;" src="{% static 'images/daz_idcard/daz_parking1.png' %}">
</div>

<div style=" z-index: 100; position: absolute; top:235px; left: 200px;">
  <h3 style="font-weight:bolder; font-size:33px !important;">{{name}}</h3>
</div>
<div style=" z-index: 100; position: absolute; top:309px; left: 240px;">
  <h3 style="font-weight:bolder; font-size:33px !important;">{{mobile}}</h3>
</div>

<div style=" z-index: 100; position: absolute; top:380px; left: 260px;">
  <h3 style="font-weight:bolder; font-size:33px !important;">{{comp}}</h3>
</div>

<div style=" z-index: 100; position: absolute; top:455px; left: 340px;">
  <h3 style="font-weight:bolder; font-size:33px !important;">{{vehicle_num}}</h3>
</div>

  </div>




  <!-- Id Card Design End -->

  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->



</body >
</html >