<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {%csrf_token%}
    <div class="row">

   
<div class="col-6">
<input type="number" placeholder="how many" id="count-inp" name="count" required> 
<input type="number" placeholder="max-registations" id="max-reg" name="max-reg" name="count" value="1" required> 
<input type="text" placeholder="special chareset" id="special-chareset" name="" name="count"  > 
<input type="number" placeholder="start" id="start-inp" name="count" value="0" required> 
<input type="checkbox" id="unique-bool" checked >
<button type="button" onclick="onSbmit()" >Submit</button>

<button onclick="download_ecxel()">DOWNLOAD ECXEL</button>

<p id="status"></p>
<table id="myTable">
    <thead>
        <td>Code</td>
    </thead>
    <tbody id="new-counts">
        <!-- {% for i in new_codes %}
        <tr>
            <td>{{i.ur_code}}</td>
        </tr>
        {% endfor %} -->
    </tbody>
</table>
</div>
<div style="float: right;" class="col-6">


<input type="text" id="s_code" placeholder="search here"><button onclick="search_codes()">Search</button>
<table id="myTable-search" >
    <thead>
        <td>Code</td>
    </thead>
    <tbody id="search-counts">
        <!-- {% for i in new_codes %}
        <tr>
            <td>{{i.ur_code}}</td>
        </tr>
        {% endfor %} -->
    </tbody>
</table>
<button onclick="delete_codes()">Delete</button>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script>

function onSbmit() {
    
    if ($('#count-inp').val()==''){
        $('#status').html('please enter count ')
        return false
    }
    $('#status').html('Loading.........')

    
    
    if ($('#unique-bool').is(':checked')){
        
        unique_bool=true
    
    }
    else{
        unique_bool=false
    }
    console.log(unique_bool)

    $.ajax({
        type: "GET",
        url: " {% url 'create_unique_page' %}",
        data: {count:$('#count-inp').val(),max_reg:$('#max-reg').val(),sp_charset:$('#special-chareset').val(),unique_bool:unique_bool,start:$('#start-inp').val()},
        dataType: "json",
        success: function (response) {

            $('#count-inp').val(null)
            console.log(document.getElementById('new-counts'))
            document.getElementById('new-counts').innerHTML=response.new_codes_tr
          //  $('#new-counts').html(response.new_codes_tr)

          $('#status').html('Done :}')
        }
    });
}

function download_ecxel() {
    type='xlsx'
    var data = document.getElementById('myTable');
 var excelFile = XLSX.utils.table_to_book(data, {sheet: "sheet1"});
 XLSX.write(excelFile, { bookType: type, bookSST: true, type: 'base64' });
 XLSX.writeFile(excelFile, 'URC-codes.' + type);
}
   
function delete_codes () { 
    $.ajax({
        type: "POST",
        url: "{% url 'delete_codes' %}",
        data:{s_codes_array:s_codes_to_delete,'csrfmiddlewaretoken':'{{csrf_token}}'},
        dataType: "json",
        success: function (response) {
            document.getElementById('search-counts').innerHTML=''
        }
    });
 }

 var s_codes_to_delete=[]


 function search_codes() {
    $.ajax({
        type: "GET",
        url: "{% url 'show_delete' %}",
        data: {s_code:$('#s_code').val()},
        dataType: "json",
        success: function (response) {
            var table_html=''
            response.results.forEach(element => {

                table_html+=`<tr>${element}</tr>`


            });

            s_codes_to_delete=response.results
            document.getElementById('search-counts').innerHTML=table_html
            $('#status').html(`searched ${response.results.length} codes`)
        }
    });
 }
</script>
</body>
</html>